
.container{
	width: 1110px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-column.reverse{
	flex-direction: column-reverse;
}

.justify-content-center{
	justify-content: center;
}

.align-item-center{
	align-items: center;
}

@include pc{
	.order-lg-1{
		order: 1;
	}
	.order-lg-2{
		order: 2;
	}
	.justify-content-end-lg{
		justify-content: flex-end;
	}

	.align-item-center-lg{
		align-items: center;
	}

	.hidden-lg{
		display: none;
	}
}


@include pad{
	.hidden-lg{
		display:unset;
	}
	.hidden-md{
		display: none;
	}
  
}


@include phone{
	.hidden-lg{
		display: unset;
	}
	.hidden-md{
		display: unset;
	}

	.hidden-sm{
		display: none;
	}
}