
$primary-color: #AA0601;
$secondary-color: #FBF2F2;
$tertiary-color: #111619;

$primary-font-color: #650300;

$header-height: 108px;
$tablet-header-height: 108px;
$mobile-header-height: 108px;

$footer-height: 108px;
$tablet-footer-height: 108px;
$mobile-footer-height: 108px;
