@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "reset";
@import "variable";
@import "rwd";
@import "base";
@import "helper";

@import "index";
@import "product";



.header {
  background-color: $primary-color;
  padding: 30px 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: $header-height;

  .logo {
  	width: 80px;
  	height: 49px;
  }

  .menu .menu-item {
  	margin-left: 64px;
  	float: left;
  	a {
  		color: white;
  		font-size: 20px;
  	}
  }

}


.footer {
	background-color: $primary-color;
	padding:32px 0;

	.footer-1{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;

		.menu .menu-item {
	  	float: left;
	  	margin-right:48px;
	  	a {
	  		color: white;
	  		font-size: 16px;
	  		line-height: 24px;
	  	}
	  }

	  .social .social-item{
	  	float: left;
	  	margin-left: 32px;

	  	.social-icon{
	  		width:48px;
	  		height:48px;
	  	}
	  }
	}

	.footer-2,.footer-3{
		margin-bottom: 24px;
		
		img{
			width: 36px;
			height: 36px;
			margin-right: 20px;
		}

		a{
			color: white;
			font-size: 36px;
			line-height: 54px;
		}
	}

	.hr{
		height: 1px;
		border-top: 1px solid #fff;
		margin-bottom: 32px;
	}

	.footer-4{
		display:  flex;
		justify-content:  space-between;

		.copyright{
			color: white;
			font-size: 16px;
			line-height: 24px;
		}

		.privacy-policy{
			color:  white;
			margin-left:auto;
			margin-right: 48px;
		}

		.privacy-policy,.services{
			color:  white;
			font-size: 14px;
			line-height: 21px;
		}
	}
}


@include pad{
	
	.header {
		padding: 30px 39px;

		.menu .menu-item {
			margin-left: 40px;
		}
	}

	.container{
		width: 690px;
	}

 	.footer {
		padding:38px 0 21px 0;

		.footer-1{
			margin-bottom: 18px;
	
			.menu .menu-item {
				margin-right:40px;
			}

			.social .social-item{
				margin-left: 24px;
	  
				.social-icon{
					width:24px;
					height:24px;
				}
			}
		}	
		
		.footer-2,.footer-3{
			margin-bottom: 16px;
			
			img{
				width: 18px;
				height: 18px;
				margin-right: 11px;
			}
	
			a{
				font-size: 20px;
				line-height: 30px;
			}
		}

		.hr{
			margin-bottom: 24px;
		}

		.footer-4{
			.privacy-policy{
				margin-right: 24px;
			}
		}
	}
	
}


@include phone{
 	.header {
		padding: 10px 0 0 0;
		flex-direction: column;
		max-height: 100%;

		.logo{
			width: 48px;
			height: 29px;
			margin-bottom: 11px;
		}

		.menu{
			width: 100%;
			.menu-item {
				margin-left: 0;
				width: 50%;
				text-align: center;	
				border: 1px solid #fff;
				padding: 8px 0;
			}
		}
	}

	.container{
		width: 345px;
	}

	.footer {
		padding:25px 0 24px 0;

		.footer-1{
			display: none;
			margin-bottom: 18px;
	
			.menu .menu-item {
				margin-right:40px;
			}

			.social .social-item{
				margin-left: 24px;
	  
				.social-icon{
					width:24px;
					height:24px;
				}
			}
		}	
		
		.footer-2{
			display: flex;
			justify-content: space-between;
			
			.social .social-item{
				margin-left: 24px;
				display: inline;

				.social-icon{
					width:24px;
					height:24px;
				}
			}
		}

		.footer-2,.footer-3{
			margin-bottom: 16px;
			
			img{
				width: 20px;
				height: 20px;
				margin-right: 6.5px;
			}
	
			a{
				font-size: 16px;
				line-height: 24px;
			}
		}

		.hr{
			margin-bottom: 16px;
		}

		.footer-4{
			display: flex;
			flex-wrap: wrap;
			
			.privacy-policy{
				// margin-right: 24px;
				display: block;
				margin: 8px 0;
			}
		}
	}
}

